:root{
    font-size: 16px;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    --side-menu-background-color:   #eeeeee;
    --color-primary:                #f0f0f0;
    --color-accent:                 #0066ff;
    --color-accent-light:           #5e9eff;
    --color-accent-faded:           #c1daff;

}
body::-webkit-scrollbar{
    width: 0.4rem;
}
body::-webkit-scrollbar-track{
    background: #dddddd;
    border-radius: 1rem;
}
body::-webkit-scrollbar-thumb{
    background: var(--color-accent);
    border-radius: 1rem;
}

body{
    color: #000;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
main{
    flex: 5;
    height: 100vh;
    padding-left: 1rem;
}
.side_bar{
    flex: 1;
    min-width: 12rem;
    background: var(--side-menu-background-color);
}
.side_nav{
    max-width: 4.125rem;
    height: 100vh;
    z-index: 1;
    position: fixed;
    top: 0;
    background-color: #fff;
    left: 0;
    padding:8px;
    padding-top: 20px;
}
.side_nav_icons,.side_nav_logo{
    margin: 10px 1px 10px 1px;
    min-height: 32px;
    min-width: 32px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
    padding: 6px 8px 6px 8px;
    border-radius: 16px;
    transition: 0.3s;
}
.side_nav_logo{
    font-size: 20px;
    color:var(--color-accent);
    margin: 18px 1px 18px 1px;
}
.side_nav_logo:hover{
    font-size: 24px;
}
.side_nav_icons:hover{
    background-color: var(--color-accent-light);
    box-shadow: 3px 3px 6px var(--color-accent-faded);
    -webkit-box-shadow: 3px 3px 6px var(--color-accent);
    color: #fff;
}
.side_nav_icons.active{
    background-color: var(--color-accent);
    box-shadow: 3px 3px 8px var(--color-accent);
    -webkit-box-shadow: 3px 3px 8px var(--color-accent-light);
    color: #fff;
}
.side_nav_icons.active:hover{
    box-shadow: 0px 0px 0px var(--color-accent);
    -webkit-box-shadow: 0px 0px 0px var(--color-accent);
}
.side_nav_icons .fa,.far{
    margin-top: 25%;
    margin-bottom: 25%;
}
#page_container,.top_bar{
    margin-left: 4.125rem;
    display: flex;
}
#content{
    height: 100%;
}